# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Logs and debug files
logs/
*.log

# Python packaging
*.egg-info/
*.egg/
dist/
build/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

